[flake8]
exclude =
    .git,
    __pycache__,
    docs,
    .idea,
    venv
    out
max-line-length = 120
per-file-ignores =
    # ignore unused imports in __init__ files
    */__init__.py: F401
    # supress some docstring requirements in tests
    tests/__init__.py: D104
    tests/deep_tests/__init__.py: D104
    tests/deep_tests/*/__init__.py: D104,D107
    tests/deep_tests/*/test_*.py: D101,D102,D107,D100,D105
    tests/deep_tests/test_*.py: D101,D102,D107,D100,D105
    tests/it_tests/it_test_*.py: D102,D107
    tests/deep_tests/test_target.py: D102,D107,D103
    test_target.py: D102,D107,D103

copyright-text =
    '#       Copyright (C) 2023  Intergral GmbH'
    '#'
    '#      This program is free software: you can redistribute it and/or modify'
    '#      it under the terms of the GNU Affero General Public License as published by'
    '#      the Free Software Foundation, either version 3 of the License, or'
    '#      (at your option) any later version.'
    '#'
    '#      This program is distributed in the hope that it will be useful,'
    '#      but WITHOUT ANY WARRANTY; without even the implied warranty of'
    '#      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the'
    '#      GNU Affero General Public License for more details.'
    '#'
    '#      You should have received a copy of the GNU Affero General Public License'
    '#      along with this program.  If not, see <https://www.gnu.org/licenses/>.'
    ''
