flake8
parameterized
pytest
mkdocs-material
pdoc3
mkdocstrings-python
build
twine
flake8-docstrings
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
flake8-header-validator>=0.0.3
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pytest-cov
mockito
opentelemetry-api
opentelemetry-sdk
prometheus-client
