# linting deps
flake8
flake8-docstrings
flake8-debug
flake8-header-validator>=0.0.3

# test deps
parameterized
pytest
pytest-cov
mockito

# doc deps
mkdocs-material
mkdocstrings-python
pdoc3

# build deps
build
twine
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
opentelemetry-api
opentelemetry-sdk
